@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

@layer components {
  .custom__navbar li {
    @apply mr-8;
    @apply cursor-pointer;
  }
  .letter__special {
    font-size: 155px;
    font-family: "Staatliches", cursive;
    color: rgb(153, 153, 153);
    cursor: default;
  }
  .letter__special:hover {
    @apply animate-rubber;
    color: #525151;
  }
  .height_1 {
    height: 35rem;
  }
}
